# Виртуальное окружение
venv/
.venv/

# Нейросети (они скачаются сами)
*.pt
*.onnx

# Видео и тяжелые данные (входные)
input/videos/
input/images/

# Результаты (выходные)
outputs/
logs/

# Временные файлы Python
__pycache__/
*.pyc